{% extends "site_template.html" %}
{% set active_page = "account_settings" %}
{% block title %}{{ _('ACCOUNT_SETTINGS_TITLE') }}{% endblock %}
{% block content %}
<form id="account_settings_form" autocomplete="off">
    <div class="account_settings">
        <label>{{ _('OLD_PASSWORD') }}</label>
        <input id="old_password" name="old_password" type="password" required/>

        <label>{{ _('NEW_PASSWORD') }}</label>
        <input id="password" name="password" type="password" onchange="check_password()" required/>

        <label>{{ _('CONFIRM') }}</label>
        <input id="password2" name="password2" type="password" onchange="check_password()" required/>

        <label>{{ _('EMAIL') }}</label>
        <input id="email" name="email" type="email" required/>

        <label></label>
        <input type="submit" onclick="submit_form_with_validation(this, event, edit_account_settings)" value="{{ _('SAVE') }}"/>
    </div>
</form>

{% endblock %}