{% extends "site_template.html" %}
{% set active_page = "annotate" %}
{% block title %}{{ _('ANNOTATE_TITLE') }}{% endblock %}
{% block content %}
<div class="annotate">
    <a class="link_to_zora"
       href="{{ paper.uid|replace('oai:www.zora.uzh.ch:', 'https://www.zora.uzh.ch/id/eprint/') }}"
       target="_blank">{{ _('LINK_TO_ZORA') }}</a>

    <h2 class="title">{{ _('TITLE') }}</h2>
    {% if paper is none %}
        <p>{{ _('NO_PAPERS_FOUND') }}</p>
    {% else %}
        <p>{{ paper.title }}</p>
    {% endif %}

    <h2>{{ _('ABSTRACT') }}</h2>
    {% if paper is none %}
        <p>{{ _('NO_PAPERS_FOUND') }}</p>
    {% else %}
        <p>{{ paper.description }}</p>
    {% endif %}

    <div class="annotate_buttons">
        <button id="positive" onclick="annotate_paper('{{ paper.uid }}', true)" {% if paper is none %}disabled{% endif %}>{{ _('ANNOTATE_AS_CLASSIFICATION_PREDICATE') }}</button>
        <button id="negative" onclick="annotate_paper('{{ paper.uid }}', false)" {% if paper is none %}disabled{% endif %}>{{ _('ANNOTATE_AS_NOT_CLASSIFICATION_PREDICATE') }}</button>
        <button id="skip" onclick="annotate_paper('{{ paper.uid }}')" {% if paper is none %}disabled{% endif %}>{{ _('SKIP') }}</button>
    </div>
</div>
{% endblock %}