{% extends "site_template.html" %}
{% set active_page = "error" %}
{% block title %}{{ _('ERROR_TITLE') }}{% endblock %}
{% block content %}
<h2>{{ message }}</h2>
<h2><a href="{{ link }}">Back</a></h2>
{% endblock %}