{% extends "site_template.html" %}
{% set active_page = "login" %}
{% block title %}{{ _('LOGIN_TITLE') }}{% endblock %}
{% block content %}
<form id="login_form">
    <div class="login">
        <label>{{ _('USERNAME') }}:</label>
        <input type="text" name="username" id="username" required/>
        <label>{{ _('PASSWORD') }}:</label>
        <input type="password" name="password" id="password" required/>
        <input type="submit"
               value="{{ _('LOGIN') }}"
               onclick="submit_form_with_validation(this, event, login)"/>
    </div>
</form>
{% endblock %}
