{% extends "site_template.html" %}
{% set active_page = "search" %}
{% block title %}{{ _('SEARCH_TITLE') }}{% endblock %}
{% block content %}
<form id="search_form" name="search_form" action="/search" method="GET">
    <input type="hidden" id="order_by" name="order_by" value="{{ filters.order_by }}"/>
    <div class="filter">
        <div class="filter_row">
            <div class="field">
                <label>{{ _('TITLE') }}:</label>
                <input name="title_filter" type="text" value="{{ filters.title_filter }}"/>
            </div>
            <div class="field">
                <label>
                    {{ _('DDC') }}
                    <span class="info_icon">
                        <i class="fas fa-info-circle fa-sm" title="{{ _('DDC_HINT') }}"></i>
                    </span>:
                </label>
                <select name="ddc_filter">
                    <option value="">{{ _('ALL_DDCS') }}</option>
                    {% for ddc in ddcs %}
                        <option
                                value="{{ ddc.dewey_number }}"
                                {% if ddc.dewey_number|string == filters.ddc_filter %}selected{% endif %}
                        >{{ ddc.dewey_number|string }} - {{ ddc.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="filter_row">
            <div class="field">
                <label>{{ _('KEYWORD') }}:</label>
                <input name="keyword_filter" type="text" value="{{ filters.keyword_filter }}"/>
            </div>
            <div class="field">
                <label>{{ _('LANGUAGE') }}:</label>
                <select name="language_filter">
                    <option value="">{{ _('ALL_LANGUAGES') }}</option>
                        {% for language in languages %}
                            <option
                                    value="{{ language.id }}"
                                    {% if language.id|string == filters.language_filter %}selected{% endif %}
                            >{{ language.name }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="filter_row">
            <div class="field field_right">
                <label>{{ _('AUTHOR') }}:</label>
                <input name="creator_filter" type="text" value="{{ filters.creator_filter }}"/>
            </div>
            <div class="field">
                <label>{{ _('PUBLICATION_YEAR') }}:</label>
                <div class="date_inputs">
                    <input
                            class="date_input"
                            name="date_min_filter"
                            type="number"
                            min="1900"
                            max="{{ now.year }}"
                            placeholder="1900"
                            value="{{ filters.date_min_filter }}"
                    />
                    -
                    <input
                            class="date_input"
                            name="date_max_filter"
                            type="number"
                            min="1900"
                            max="{{ now.year }}"
                            placeholder="{{ now.year }}"
                            value="{{ filters.date_max_filter }}"
                    />
                </div>
            </div>
        </div>
        <div class="search_form_buttons">
            <button type="submit" name="type" value="search" onclick="loading(true)">{{ _('FILTER') }}</button>
            <button type="submit" name="type" value="export">{{ _('EXPORT') }}</button>
        </div>
    </div>
</form>
<div class="list">
    {% if paginated.total == 0 %}
        <div>
            <h2>{{ _('NO_PAPERS_FOUND') }}</h2>
        </div>
    {% else %}
        <table class="grid">
            <thead>
                <th class="title">
                    Title
                    {% if filters.order_by.split(' ')[0] == 'title' %}
                        {% if filters.order_by.split(' ')[1] == 'asc' %}
                            {% set sort_icon = 'fas fa-sort-up' %}
                        {% else %}
                            {% set sort_icon = 'fas fa-sort-down' %}
                        {% endif %}
                    {% else %}
                        {% set sort_icon = 'fas fa-sort' %}
                    {% endif %}
                    <span class="sort_icon" onclick="sort_list('title')"><i class="{{ sort_icon }}"></i></span>
                </th>
                <th class="authors">Authors</th>
                <th class="date">
                    Date
                    {% if filters.order_by.split(' ')[0] == 'date' %}
                        {% if filters.order_by.split(' ')[1] == 'asc' %}
                            {% set sort_icon = 'fas fa-sort-up' %}
                        {% else %}
                            {% set sort_icon = 'fas fa-sort-down' %}
                        {% endif %}
                    {% else %}
                        {% set sort_icon = 'fas fa-sort' %}
                    {% endif %}
                    <span class="sort_icon" onclick="sort_list('date')"><i class="{{ sort_icon }}"></i></span>
                </th>
            </thead>
            <tbody>
                {% for paper in paginated.items %}
                    <tr>
                        <td><a href="{{ paper.uid|replace('oai:www.zora.uzh.ch:', 'https://www.zora.uzh.ch/id/eprint/') }}"
                            target="_blank">{{ paper.title }}</a></td>
                        <td class="authors" title="{{ create_creator_string(paper.creators) }}">
                            {{ create_creator_string(paper.creators) }}
                        </td>
                        <td>{{ paper.date.year }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    <div class="pagination">
    {% for page in paginated.iter_pages() %}
        {% if page %}
            {% if page != paginated.page %}
                <a href="{{ url_for_other_page(page, filters) }}">{{ page }}</a>
            {% else %}
                <strong>{{ page }}</strong>
            {% endif %}
        {% else %}
            <span class=ellipsis>…</span>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}