{% extends "site_template.html" %}
{% set active_page = "server_settings" %}
{% block title %}{{ _('SERVER_SETTINGS_TITLE') }}{% endblock %}
{% block content %}
<form id="change_server_settings_form">
    <div class="server_settings">
        {% for server_setting in server_settings %}
            {% if server_setting.name == 'annotation_timeout' %}
                    <label>
                        {{ _('ANNOTATION_TIMEOUT') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('ANNOTATION_TIMEOUT_DESCRIPTION') }}"></i></span>
                    </label>
                    <input
                            type="number"
                            name="annotation_timeout"
                            min="1"
                            max="1440"
                            step="1"
                            placeholder="{{ server_setting.value }}"
                    />
            {% elif server_setting.name == 'institute_update_interval' %}
                    <label>
                        {{ _('INSTITUTE_UPDATE_INTERVAL') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('INSTITUTE_UPDATE_INTERVAL_DESCRIPTION') }}"></i></span>
                    </label>
                    <input
                            type="number"
                            name="institute_update_interval"
                            min="1"
                            max="365"
                            step="1"
                            placeholder="{{ server_setting.value }}"
                    />
            {% elif server_setting.name == 'resource_type_update_interval' %}
                    <label>
                        {{ _('RESOURCE_TYPE_UPDATE_INTERVAL') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('RESOURCE_TYPE_UPDATE_INTERVAL_DESCRIPTION') }}"></i></span>
                    </label>
                    <input
                            type="number"
                            name="resource_type_update_interval"
                            min="1"
                            max="365"
                            step="1"
                            placeholder="{{ server_setting.value }}"
                    />
            {% elif server_setting.name == 'zora_pull_interval' %}
                    <label>
                        {{ _('ZORA_PULL_INTERVAL') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('ZORA_PULL_INTERVAL_DESCRIPTION') }}"></i></span>
                    </label>
                    <input
                            type="number"
                            name="zora_pull_interval"
                            min="1"
                            max="365"
                            step="1"
                            placeholder="{{ server_setting.value }}"
                    />
            {% elif server_setting.name == 'zora_url' %}
                    <label>
                        {{ _('ZORA_URL') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('ZORA_URL_DESCRIPTION') }}"></i></span>
                    </label>
                    <input type="text" name="annotation_timeout" placeholder="{{ server_setting.value }}"/>
            {% endif %}
        {% endfor %}
        <label></label>
        <input type="submit" value="{{ _('SAVE') }}" onclick="submit_form_with_validation(this, event, change_server_settings)"/>
    </div>
</form>
<hr class="separation_line"/>
<div class="trained_model">
    <label>
        {{ _('EXPORT_ANNOTATED_PAPERS') }}
    </label>
    <button id="export_annotated_papers_button" onClick="export_annotated_papers()">{{ _('EXPORT') }}</button>
</div>
<form id="upload_trained_model_form" method="post" enctype="multipart/form-data">
    <div class="trained_model">
        <label>
            {{ _('UPLOAD_TRAINED_MODEL') }} <span class="info_icon"><i class="fa fa-info-circle" title="{{ _('UPLOAD_TRAINED_MODEL_DESCRIPTION') }}"></i></span>
        </label>
        <input type="file" accept=".zip" name="trained_model" required>
        <div><!-- Empty div to uphold grid layout --></div>
        <input id="upload_trained_model_button" type="button" value="{{ _('UPLOAD') }}" onclick="upload_trained_model(event)">
    </div>
</form>

{% endblock %}