<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://www.uzh.ch/uzh/authoring/css/uzh.css"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/fontawesome-free-5.11.2-web/css/all.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/iframe_stylesheet.css') }}"/>
        <title>{% block title %}{% endblock %}</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>

            /* Show notification after page reload via cookie */
            $(document).ready(function() {
                const cookieArray = document.cookie.split(';');

                for (let i = 0; i < cookieArray.length; i++) {
                    const cookiePair = cookieArray[i].split('=');
                    if (cookiePair[0] == 'error' && cookiePair[1].length > 0) {
                        show_alert(cookiePair[1]);
                        document.cookie = 'error=';
                    }
                }
            });

            /* VALIDATION FUNCTIONS */

            function check_password() {
                const password = document.getElementById('password');
                const password2 = document.getElementById('password2');

                if (password.value !== password2.value) {
                    password2.setCustomValidity('Passwords don\'t match!');
                } else {
                    password2.setCustomValidity('');
                }
            }


            /* UTILITY FUNCTIONS */

            function confirm_delete(id) {
                if (confirm('{{ _("CONFIRM_DELETE_USER") }}')) {
                    delete_user(id);
                }
            };

            function submit_form_with_validation(context, event, callback) {
                event.preventDefault();
                const $form = $(context).closest('form');
                const form = $form[0];
                if (!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }
                const data = $form.serialize();
                callback(data);
            }

            function sort_list(sort_by) {
                const $order_by_input = $('#order_by')[0]
                const order_by = $order_by_input.value.split(' ')[0];
                const order = $order_by_input.value.split(' ')[1];
                if (order_by === sort_by) {
                    if (order === 'asc') {
                        $order_by_input.value = sort_by + ' ' + 'desc';
                    } else if (order === 'desc') {
                        $order_by_input.value = sort_by + ' ' + 'asc';
                    }
                } else {
                    $order_by_input.value = sort_by + ' ' + 'asc';
                }
                document.getElementById('search_form').submit();
            }

            function close_notification() {
                document.getElementById('notification').style.display = 'none';
            }

            function show_alert(message) {
                show_notification(message, 'alert');
            }

            function show_success(message) {
                show_notification(message, 'success')
            }

            function show_notification(message, type = 'notification') {
                const colors = {
                    'notification': 'lightgrey',
                    'success': 'green',
                    'alert': 'red'
                };
                document.getElementById('notification_message').innerHTML = message;
                const notification = document.getElementById('notification');
                notification.style.backgroundColor = colors[type];
                notification.style.display = 'flex';
            }

            function loading(showLoading) {
                if (showLoading) {
                    document.getElementById('loading_overlay').style.display = 'flex';
                } else {
                    document.getElementById('loading_overlay').style.display = 'none';
                }
            }

            /* SERVER CALLS */

            function login(data) {
                loading(true);
                $.post('/login', data).done(function(response) {
                    location.pathname = '/annotate';
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    show_alert(error);
                    loading(false);
                });
            }

            function create_user(data) {
                loading(true);
                $.post('/create_user', data).done(function(response) {
                    location.reload();
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    show_alert(error);
                    loading(false);
                });
            }

            function delete_user(id) {
                loading(true);
                $.post('/delete_user', {id: id}).done(function(response) {
                    location.reload();
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    show_alert(error);
                    loading(false);
                });
            }

            function annotate_paper(uid, classification) {
                loading(true);
                let data = {
                    uid: uid,
                    classification: classification
                };
                if (classification === undefined) {
                    data.skip = true;
                }
                $.post('/annotate', data).done(function(response) {
                    location.reload();
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    if (response.status == 408) {
                        document.cookie = 'error=' + error;
                        location.reload();
                    } else {
                        show_alert(error);
                    }
                    loading(false);
                });
            }

            function change_server_settings(data) {
                loading(true);
                $.post('/server_settings', data).done(function(response) {
                    location.reload();
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    show_alert(error);
                    loading(false);
                });
            }

            function export_annotated_papers() {
                loading(true);
                const a = document.createElement('a');
                document.body.appendChild(a);
                a.style = 'display: none';
                a.href = 'server_settings/export_annotated_papers';
                a.download = 'annotated_papers.csv';
                a.click();
                loading(false);
            }

            function upload_trained_model(event) {
                event.preventDefault();
                const form = document.getElementById('upload_trained_model_form');
                if (!form.checkValidity()) {
                    form.reportValidity();
                    return;
                }
                loading(true);
                let formData = new FormData(form);
                $.ajax({
                    type: 'POST',
                    url: '/server_settings/upload_trained_model',
                    data: formData,
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function(response) {
                        show_success('{{ _("MODEL_UPLOADED_SUCCESSFULLY") }}');
                    },
                    error: function(response) {
                        const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                        show_alert(error);
                    },
                    complete: function(response) {
                        loading(false);
                    }});
            }

            function edit_account_settings(data) {
                loading(true);
                $.post('/account_settings', data).done(function(response) {
                    location.reload();
                }).fail(function(response) {
                    const error = response.responseJSON ? response.responseJSON.error : '{{ _("GENERAL_ERROR_MESSAGE") }}';
                    show_alert(error);
                    loading(false);
                });
            }
        </script>
    </head>
    <body>
        <div class="wrapper">
            <div class="topnav">
                <div class="loginInfo">
                    {% if not user.is_authenticated %}
                        {{ _('NOT_LOGGED_IN') }}
                    {% else %}
                        {{ _('LOGGED_IN_AS') }} {{ user.username }}
                    {% endif %}
                </div>

                <div class="nav">
                    <div class="menu">
                        <a id="search"
                           href="/search"
                           onclick="loading(true)"
                           {% if active_page == 'search' %}class="active"{% endif %}
                        >{{ _('SEARCH_TITLE') }}</a>
                        <a id="about"
                           href="/about"
                           onclick="loading(true)"
                           {% if active_page == 'about' %}class="active"{% endif %}
                          >{{ _('ABOUT_TITLE') }}</a>
                        <a id="statistics"
                           href="/statistics"
                           onclick="loading(true)"
                           {% if active_page == 'statistics' %}class="active"{% endif %}
                          >{{ _('STATISTICS_TITLE') }}</a>
                        {% if not user.is_authenticated %}
                            <a id="login"
                               href="/login"
                               onclick="loading(true)"
                               {% if active_page == 'login' %}class="active"{% endif %}
                              >{{ _('LOGIN_TITLE') }}</a>
                        {% else %}
                            <a id="annotate"
                               href="/annotate"
                               onclick="loading(true)"
                               {% if active_page == 'annotate' %}class="active"{% endif %}
                              >{{ _('ANNOTATE_TITLE') }}</a>
                            {% if user.user_role == 'admin' %}
                                <a id="user_management"
                                   href="/user_management"
                                   onclick="loading(true)"
                                   {% if active_page == 'user_management' %}class="active"{% endif %}
                                  >{{ _('USER_MANAGEMENT_TITLE') }}</a>
                                <a id="server_settings"
                                   href="/server_settings"
                                   onclick="loading(true)"
                                   {% if active_page == 'server_settings' %}class="active"{% endif %}
                                  >{{ _('SERVER_SETTINGS_TITLE') }}</a>
                            {% endif %}
                            <a id="account_settings"
                               href="/account_settings"
                               onclick="loading(true)"
                               {% if active_page == 'account_settings' %}class="active"{% endif %}
                              >{{ _('ACCOUNT_SETTINGS_TITLE') }}</a>
                            <a id="logout"
                               href="/logout"
                               onclick="loading(true)"
                               {% if active_page == 'logout' %}class="active"{% endif %}
                              >{{ _('LOGOUT_TITLE') }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="notification">
                <div id="notification_message"></div>
                <div id="notification_button" onclick="close_notification()"><i class="fas fa-times"></i></div>
            </div>
            <div class="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <script>
                        window.alert('{{ message|safe }}');
                    </script>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <div id="loading_overlay">
            <div class="fa-5x">
                <i class="fas fa-spinner fa-spin"></i>
            </div>
        </div>
    </body>
</html>