{% extends "site_template.html" %}
{% set active_page = "statistics" %}
{% block title %}{{ _('STATISTICS_TITLE') }}{% endblock %}
{% block content %}
<div class="statistics_row_general">
    <div class="statistics_general">
        <h2>{{ _('GENERAL') }}</h2>
        <table class="grid">
            <tr>
                <td>{{ _('NUMBER_OF_CLASSIFICATION_PREDICATE_PUBLICATIONS') }}</td>
                <td class="count">{{ format_number(general_statistics.positive_papers) }}</td>
            </tr>
            <tr>
                <td>{{ _('TOTAL_NUMBER_OF_PUBLICATIONS') }}</td>
                <td class="count">{{ format_number(general_statistics.total_papers) }}</td>
            </tr>
            <tr>
                <td>{{ _('RATIO_OF_CLASSIFICATION_PREDICATE_PUBLICATIONS') }}</td>
                <td class="count">{{ general_statistics.ratio_positive_papers }}</td>
            </tr>
            <tr>
                <td>{{ _('NUMBER_OF_ANNOTATED_PUBLICATIONS') }}</td>
                <td class="count">{{ format_number(general_statistics.annotated_papers) }}</td>
            </tr>
            <tr>
                <td>{{ _('NUMBER_OF_ANNOTATED_CLASSIFICATION_PREDICATE_PUBLICATIONS') }}</td>
                <td class="count">{{ format_number(general_statistics.positive_annotated_papers) }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="statistics_row">
    <div class="statistics_block">
        <h2>{{ _('TOP_10_AUTHORS') }}</h2>
        <table class="grid">
            <thead>
            <th>{{ _('AUTHOR') }}</th>
            <th>{{ _('COUNT') }}</th>
            </thead>
            {% if top_authors is not none %}
                {% for row in top_authors %}
                <tr>
                    <td>{{ row[0]|string }}</td>
                    <td class="count">{{ format_number(row[1]) }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div>
        <h2>{{ _('TOP_10_KEYWORDS') }}</h2>
        <table class="grid">
            <thead>
            <th>{{ _('KEYWORD') }}</th>
            <th>{{ _('COUNT') }}</th>
            </thead>
            {% if top_keywords is not none %}
                {% for row in top_keywords %}
                <tr>
                    <td>{{ row[0]|string }}</td>
                    <td class="count">{{ format_number(row[1]) }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<div class="statistics_row">
    <div class="statistics_block">
        <h2>{{ _('TOP_10_DDCs') }}</h2>
        <table class="grid">
            <thead>
            <th>{{ _('DDC') }}</th>
            <th>{{ _('COUNT') }}</th>
            </thead>
            {% if top_ddcs is not none %}
                {% for row in top_ddcs %}
                <tr>
                    <td>{{ row[0]|string }}</td>
                    <td class="count">{{ format_number(row[1]) }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
    <div>
        <h2>{{ _('TOP_10_INSTITUTES') }}</h2>
        <table class="grid">
            <thead>
            <th>{{ _('INSITUTE') }}</th>
            <th>{{ _('COUNT') }}</th>
            </thead>
            {% if top_institutes is not none %}
                {% for row in top_institutes %}
                <tr>
                    <td>{{ row[0]|string }}</td>
                    <td class="count">{{ format_number(row[1]) }}</td>
                </tr>
                {% endfor %}
            {% endif %}
        </table>
    </div>
</div>
<div class="statistics_row">
    <div>
        <h2>{{ _('CLASSIFICATION_PREDICATE_UPPER_CASE') }} {{ _('PAPERS_PER_YEAR') }}</h2>
        {% if graph is not none %}
            {{ graph|safe }}
        {% endif %}
    </div>
</div>
{% endblock %}