{% extends "site_template.html" %}
{% set active_page = "user_management" %}
{% block title %}{{ _('USER_MANAGEMENT_TITLE') }}{% endblock %}
{% block content %}
<div>
    <form id="create_user_form" autocomplete="off">
        <div class="create_user_form">
            <div class="field">
                <label>{{ _('USERNAME') }}:</label>
                <input type="text" name="username" id="username" required/>
            </div>
            <div class="field">
                <label>{{ _('EMAIL') }}:</label>
                <input type="email" name="email" id="email" required/>
            </div>
            <div class="field">
                <label>{{ _('ROLE') }}:</label>
                <select name="role">
                    <option value="annotator">{{ _('ANNOTATOR') }}</option>
                    <option value="admin">{{ _('ADMIN') }}</option>
                </select>
            </div>
            <div class="field">
                <label>{{ _('PASSWORD') }}:</label>
                <input type="password" name="password" id="password" required/>
            </div>
            <div class="field">
                <label>{{ _('CONFIRM') }}:</label>
                <input type="password" name="password2" id="password2" required onchange="check_password()"/>
            </div>
            <div class="field">
                <input type="submit" value="{{ _('CREATE_USER') }}" onclick="submit_form_with_validation(this, event, create_user)"/>
            </div>
        </div>
    </form>
</div>
<hr class="separation_line"/>
<div class="user_list">
    <table class="grid">
        <thead>
            <tr>
                <th class="username">{{ _('USERNAME') }}</th>
                <th class="email">{{ _('EMAIL') }}</th>
                <th class="role">{{ _('ROLE') }}</th>
                <th>{{ _('ID') }}</th>
                <th class="id"></th>
            </tr>
        </thead>
        <tbody>
        {% for entry in user_list %}
            <tr>
                <td>{{ entry.username }}</td>
                <td>{{ entry.email }}</td>
                <td>
                    {% if entry.user_role == "admin" %}
                        {{ _('ADMIN') }}
                    {% elif entry.user_role == "annotator" %}
                        {{ _('ANNOTATOR') }}
                    {% endif %}</td>
                <td>{{ entry.id }}</td>
                <td>
                    {% if entry.id != 1 %}
                        <i class="fa fa-trash" onclick="confirm_delete({{ entry['id'] }})"></i>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}