/* additional iframe styles */
html {
    height:auto;
}

body {
	background-color:#FFFFFF;
	margin: 0;
	height:auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

option {
    width:100px;
    text-overflow:ellipsis;
    overflow:hidden;
}

a.active {
  font-weight: bold;
}

input[type=button],
input[type=submit],
button {
    cursor: pointer;
}

#notification {
    background-color: lightgrey;
    position: relative;
    top: -5px;
    border-radius: 5px 5px 5px 5px;
    width: 100%;
    align-self: center;
    padding: 5px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

#notification #notification_message {

}

#notification #notification_button {
    padding: 5px 10px;
}

#loading_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    padding-top: 200px;
}


/* NAVIGATION */
.wrapper > .topnav {
    display: flex;
    flex-direction: column;
    padding-top: 0px;
    margin-bottom: 10px;
}

.wrapper > .topnav > .loginInfo {
    align-self: flex-end;
    margin-bottom: 15px;
}

.wrapper > .topnav > .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper > .topnav > .nav > .menu {
    display: inline-flex;
}

.wrapper > .topnav > .nav > .menu > a {
    margin-right: 5px;
    padding-left: 10px;
}


/* CONTENT */
.wrapper > .content {
	margin: 0;
	width: auto;
	min-height: 0;
	display: flex;
	flex-direction: column;
}

.wrapper > .content span.info_icon {
    position: relative;
    top: -5px;
    color: grey;
}

/* Search page */
.content .filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content .filter .filter_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
}

.content .filter .filter_row .field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 300px;
}

.content .filter .filter_row .field label {
    width: 110px;
}

.content .filter .filter_row .field input,
.content .filter .filter_row .field select {
    width: 190px;
}

.content .filter .filter_row .field input.date_input {
    width: 60px;
}

.content .filter .search_form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.content .filter .search_form_buttons button {
    margin-top: 5px;
    margin-left: 10px;
    width: 65px;
}

.content .list {
    display: flex;
    flex-direction: column;
}

.content .list table {
    table-layout: fixed;
    width: 100%;
    box-sizing: border-box;
}

.content .list table .title {
    width: 60%;
}

.content .list table .authors {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 30%;
}

.content .list table .date {
    width: 10%;
}

.content .list span.sort_icon {
    padding: 2px 6px;
    float: right;
    cursor: pointer;
}

.content .list table a {
    padding-left: 13px;
    text-decoration: none;
    cursor: pointer;
    color: #000000;
    background-image: url(https://www.uzh.ch/uzh/authoring/images/arrow_right.png);
    background-repeat: no-repeat;
    background-position: left top;

}

.content .list table a:visited {
    color: #7b828a;
}

.content .pagination a {
    color: #dc6027;
    text-decoration: none;
}

/* Statistics page */
.content .statistics_row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.content .statistics_general {
    align-self: start;
}

.content .statistics_general table.grid {
    margin-left: 0px;
    margin-right: 0px
}

.content .statistics_row_general table tr th:first-child,
.content .statistics_row_general table tr td:first-child,
.content .statistics_row table tr th:first-child,
.content .statistics_row table tr td:first-child {
    min-width: 260px;
}

.content .statistics_row_general table tr th:last-child,
.content .statistics_row_general table tr td:last-child,
.content .statistics_row table tr th:last-child,
.content .statistics_row table tr td:last-child {
    min-width: 40px;
    text-align: right;
}

/* Annotate page */
.content .annotate {
    display: flex;
    flex-direction: column;
}
.content .annotate a.link_to_zora {
    text-align: right;
}

.content .annotate h2 {
    margin-top: 0.5em;
}

.content .annotate .annotate_buttons {
    margin-top: 10px;
}

.content .annotate .annotate_buttons input {
    margin-right: 5px;
}


/* User management page */
.content .create_user_form {
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-column-gap: 30px;
    grid-row-gap: 10px;
}

.content .create_user_form select,
.content .create_user_form input {
    float: right;
}

.content hr.separation_line {
    width: 90%;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-width: 1px;
}

.content .user_list table.grid {
    margin-left: 0px;
    margin-right: 0px;
}

.content  .user_list th.username {
    min-width: 150px;
}

.content .user_list th.email {
    min-width: 200px;
}

/* Server settings page */
.content .server_settings {
    display: grid;
    grid-template-columns: 40% 30%;
    grid-row-gap: 10px;
}

.content .server_settings input[type=button],
.content .server_settings button {
    width: 100px;
    justify-self: end;
}

.content .trained_model {
    display: grid;
    grid-template-columns: 40% 30%;
}

.content .trained_model input[type=button],
.content .trained_model button {
    width: 100px;
    justify-self: end;
}

.content .trained_model #export_annotated_papers_button {
    margin-bottom: 10px;
}

.content .trained_model #upload_trained_model_button {
    margin-bottom: 5px;
}

/* Account settings page */
.content .account_settings {
    display: grid;
    grid-template-columns: 20% 30%;
    grid-row-gap: 10px;
}

.content .account_settings input[type=submit] {
    width: 100px;
    justify-self: end;
}

/* Login page */
.content .login label {
    margin-right: 5px;
}

.content .login input {
    margin-right: 20px;
}